{% extends 'hospital/doctor_base.html' %}
{% block content %}
{% load static %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }

    .status-completed {
      color: green;
      font-weight: bold;
    }
  </style>
</head>

<div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Completed Appointments</h6>
    </div>
    {% if appointments %}
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Patient Name</th>
          <th>Picture</th>
          <th>Description</th>
          <th>Mobile</th>
          <th>Address</th>
          <th>Appointment Date</th>
          <th>Status</th>
        </tr>
      </thead>
      {% for a, p in appointments %}
      <tr>
        <td>{{ a.patientName }}</td>
        <td>
          {% if p %}
            <img src="{{ p.profile_pic.url }}" alt="Profile Pic" height="40px" width="40px" />
          {% else %}
            No Picture
          {% endif %}
        </td>
        <td>{{ a.description }}</td>
        <td>{{ p.mobile|default:"N/A" }}</td>
        <td>{{ p.address|default:"N/A" }}</td>
        <td>{{ a.appointmentDate|date:"d M Y, H:i" }}</td>
        <td class="status-{{ a.status|lower }}">{{ a.status }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <br><br>
    <h4 style="text-align: center; color: red;">No Completed Appointments Found!</h4>
    {% endif %}
  </div>
</div>


{% endblock content %}